@use "./lib/styles/_entry.scss" as *;

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-Light-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-LightItalic-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-Regular-Trial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-RegularItalic-Trial.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-MediumItalic-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-Bold-Trial.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-BoldItalic-Trial.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-Heavy-Trial.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-HeavyItalic-Trial.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-Black-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM";
  src: url("/fonts/ROM/ABCROM-BlackItalic-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-Light-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-LightItalic-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-Regular-Trial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-RegularItalic-Trial.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-MediumItalic-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-Bold-Trial.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-BoldItalic-Trial.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-Heavy-Trial.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-HeavyItalic-Trial.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-Black-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "ABC ROM Mono";
  src: url("/fonts/ROM Mono/ABCROMMono-BlackItalic-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* :root {
  overflow: hidden;
} */

body {
  font-family: $font-family-sans;
  margin: 0;

  *::selection {
    background-color: #000;
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
  font-weight: 600;
}

button {
  border: none;
  background: none;

  cursor: pointer;
  outline: none;
}